.section-4 {
    padding: 0 8%;
    display: flex;
    align-items: center;
    height: 87vh;
    gap: 6%;
}

.section-5 {
    padding: 0 8%;
    display: flex;
    align-items: center;
    height: 80vh;
    gap: 8%;
}

.div-feedback img {
    width: 65px;
    height: 92px;
    padding-bottom: 4%;
}

.img-feedback {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-recomendaciones {
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-recomendaciones img {
    width: 65px;
    height: 92px;
    padding-bottom: 4%;
}

.img-recomendaciones {
    width: 46%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-margin {
    margin-top: 100px;
}
.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #f8f9fa;
    margin-top: 20px;
}
.logo-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    max-height: 100px;
    transition: transform 0.3s ease;
}
.logo-container a:hover {
    transform: scale(1.1);
}
.logo-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.logo-container a:hover img {
    filter: grayscale(0%);
}