<!-- index.html -->
{% extends "base.html" %}

{% block content %}

<head>
  <!-- css propios -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<div class="page-heading header-text">
</div>

<br><br><br>

<h1>Respaldado por: </h1>

<div class="container-fluid">
    <div class="logo-container">
        <a target="_blank" href="https://www.cofide.com.pe" aria-label="Cofide Logo">
            <img loading="lazy" src="../static/assets/images/cofide-logo.png" alt="logo-cofide">
        </a>
        <a target="_blank" href="https://utecventures.com/" aria-label="UTEC Ventures Logo">
            <img loading="lazy" src="../static/assets/images/utec-logo.png" alt="logo-utec">
        </a>
        <a target="_blank" href="https://www2.proinnovate.gob.pe/" aria-label="Innovate Peru Logo">
            <img loading="lazy" src="../static/assets/images/innovate-logo.png" alt="logo-innovate">
        </a>
        <a target="_blank" href="https://startupleague-kpsl.com/" aria-label="KOICA Logo">
            <img loading="lazy" src="../static/assets/images/koica-logo.png" alt="logo-koica">
        </a>
        <a target="_blank" href="https://www.shift.pe" aria-label="Shift Logo">
            <img loading="lazy" src="../static/assets/images/shift-logo.png" alt="logo-shift">
        </a>
        <a target="_blank" href="https://kunan.org/" aria-label="Kunan Logo">
            <img loading="lazy" src="../static/assets/images/kunan_logo.png" alt="logo-kunan">
        </a>
        <a target="_blank" href="https://www.facebook.com/incubaunt.peru/?locale=es_LA" aria-label="Incubaunt Logo">
            <img loading="lazy" src="../static/assets/images/incubaunt_logo.png" alt="logo-incubaunt">
        </a>
    </div>
</div>

<br><br><br><br><br><br><br>


<!-- scripts propios-->
<script src="{{ url_for('static', filename='js/carrito.js') }}"></script>



{% endblock %}