{% extends "base.html" %}

{% block content %}
<!-- Styles -->
<style>
    .job-details-wrapper {
        margin-top: 100px;
    }

    .general-description-job {
        background-color: #F9F8F8;
        padding: 20px;
        border-radius: 5px;
    }

    .general-description-job h5 {
        margin-top: 20px;
    }
</style>

<!-- Header -->
<div class="page-heading header-text">
    <h1 id="job-title" style="color: white;">Cargando...</h1>
</div>

<!-- DETALLES DEL EMPLEO -->
<div class="job-details-wrapper container py-5">
    <div id="job-details" class="row">
        <!-- El contenido será dinámicamente cargado por el script -->
    </div>
</div>

<!-- JavaScript propio -->
<script src="{{ url_for('static', filename='js/detallesempleo.js') }}"></script>
{% endblock %}