{% extends "dashboard_base.html" %}



{% block page_title %}Crear nuevo empleo{% endblock %}

{% block dashboard_content %}

<div class="main-content">
    <h3 class="page-title">Publicar empleo</h3>

    <form id="form-publicar-empleo">
        <div class="form-group">
            <label for="nombre_empleo">Nombre del empleo</label>
            <input type="text" class="form-control" id="nombre_empleo" name="nombre_empleo" required>
        </div>

        <div class="form-group">
            <label for="fecha_final_postulacion">Fecha de cierre</label>
            <input type="date" class="form-control" id="fecha_final_postulacion" name="fecha_final_postulacion"
                required>
        </div>

        <div class="form-group">
            <label for="ubicacion">Ubicación</label>
            <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
        </div>

        <div class="form-group">
            <label for="salario">Salario</label>
            <div class="d-flex align-items-center gap-3">
                <input type="number" class="form-control" id="salario" name="salario" required>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="ocultarSalario">
                    <label class="form-check-label" for="ocultarSalario">
                        Ocultar salario
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="vacantes">Vacantes</label>
            <input type="number" class="form-control" id="vacantes" name="vacantes" required>
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
        </div>

        <div class="form-group">
            <label for="funciones">Funciones</label>
            <textarea class="form-control" id="funciones" name="funciones" required></textarea>
        </div>

        <div class="form-group">
            <label for="beneficios">Beneficios</label>
            <textarea class="form-control" id="beneficios" name="beneficios" required></textarea>
        </div>

        <div class="form-group">
            <label for="requisitos">Requisitos</label>
            <textarea class="form-control" id="requisitos" name="requisitos" required></textarea>
        </div>

        <div class="form-group">
            <label for="tipo_contrato">Tipo de Contrato</label>
            <select class="form-control" id="tipo_contrato" name="tipo_contrato" required>
                <option value="">Seleccione una opción</option>
                <option value="tiempo_completo">Tiempo completo</option>
                <option value="medio_tiempo">Medio tiempo</option>
                <option value="por_proyecto">Por proyecto</option>
                <option value="freelance">Freelance</option>
                <option value="por_horarios">Por horarios</option>
                <option value="practicante">Practicante</option>
                <option value="pasante">Pasante</option>
                <option value="temporal">Temporal</option>
                <option value="otros">Otros</option>
            </select>
        </div>
        <div class="form-group">
            <label for="modalidad_asistencia">Modalidad</label>
            <select class="form-control" id="modalidad_asistencia" name="modalidad_asistencia" required>
                <option value="">Seleccione una opción</option>
                <option value="remoto">Remoto</option>
                <option value="presencial">Presencial</option>
                <option value="hibrido">Híbrido</option>
                <option value="otros">Otros</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-3">Publicar Empleo</button>
    </form>

</div>
<!-- modales-->
<div class="modal fade" id="successModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Éxito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Empleo publicado con éxito.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="errorMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- javascript propios -->
<script src="{{ url_for('static', filename='js/registroempleo.js') }}"></script>
<script>
    document.getElementById('ocultarSalario').addEventListener('change', function() {
        const salarioInput = document.getElementById('salario');
        if (this.checked) {
            salarioInput.type = 'text';
            salarioInput.value = 'Oculto';
            salarioInput.disabled = true;

        } else {
            salarioInput.value = '';
            salarioInput.disabled = false;
        }
    });
</script>
{% endblock %}